<header>
  <div class="band">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.jpg" alt="Link Tree Logo">
        <span>Link Tree</span>
      </a>
    </div>
    <nav class="main-nav">
      <ul>
        <li>
          <a href="#">
            <span>menu 1</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>menu 2</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>menu 3</span>
          </a>
        </li>
      </ul>
    </nav>
    <nav class="main-nav-mobil">
      <div class="hamburger">
        <a href=""><i class="fa fa-bars"></i></a>
      </div>
    </nav>
  </div>

</header>
